<h2>书虫悦读会</h2>
子曰：学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知而不愠，不亦君子乎？
<p>
  <a href="{% url 'yi:index' %}">主页君</a> -
  <a href="{% url 'yi:yis' %}">易经悦读</a> -
  <a href="{% url 'shi:shi' %}">诗词馆</a> -
  <a href="{% url 'ksitiscry:ksitiscry' %}">地藏占察</a> -
  <a href="{% url 'try:try' %}">试一试</a> -
  {% if user.is_authenticated %}
    亲，奉茶，{{ user.username }}.. ^-^
	<a href="{% url 'users:logout' %}">登出</a>
  {% else %}
    <a href="{% url 'users:register' %}">注册</a> -
    <a href="{% url 'users:login' %}">登录</a>
  {% endif %}
</p>

{% block content %}{% endblock content %}

