<h2>地藏占察</h2>
<p>
  <a href="{% url 'yi:index' %}">主页君</a> -
  <a href="{% url 'yi:yis' %}">易经悦读</a> -
  <a href="{% url 'shi:shi' %}">诗词馆</a> -
  <a href="{% url 'ksitiscry:ksitiscry' %}">地藏占察</a> -
  <a href="{% url 'try:try' %}">试一试</a> -
  {% if user.is_authenticated %}
    亲来了，奉茶，{{ user.username }}.. ^-^
	<a href="{% url 'users:logout' %}">登出</a>
  {% else %}
    <a href="{% url 'users:register' %}">注册</a> -
    <a href="{% url 'users:login' %}">登录</a>
  {% endif %}
</p>
<p>
【提示】善男子，若欲占察三世中受报差别者，当复刻木为六轮，于此六轮，以一、二、三、四、五、六、七、八、九、十、十一、十二、十三、十四、十五、十六、十七、十八等数，书字记之，一数主一面，各三面，令数次第不错不乱。当知如此诸数，皆从一数而起，以一为本。如是数相者，显示一切众生六根之聚，皆从如来藏自性清净心一实境界而起，依一实境界以之为本，所谓：依一实境界故，有彼无明，不了一法界，谬念思惟，现妄境界，分别取著，集业因缘，生眼耳鼻舌身意等六根；以依内六根故，对外色声香味触法等六尘，起眼耳鼻舌身意等六识；以依六识故，于色声香味触法中，起违想、顺想、非违非顺等想，生十八种受。
</p>
<p>若未来世佛诸弟子，于三世中所受果报，欲决疑意者，应当三掷此第三轮相，占计合数，依数观之，以定善恶。如是所观三世果报善恶之相，有一百八十九种。何等为一百八十九种？
</p>

{% block content %}{% endblock content %}

