<h2>Python练习项目管理中心</h2>
Python之禅：美胜于丑 显胜于隐 简胜于繁 繁胜于杂 平胜于叠 疏胜于密 名可名 请常名
{% extends "centres/link_base.html" %}

{% block content %}
<p>我是主页君。^-^</p>
<p>>>> import this</p>
<li>The Zen of Python, by Tim Peters</li>
<li>华名：Python 之禅</li>
<li></li>
<li>Beautiful is better than ugly.</li>
<li>美胜于丑</li>
<li>Exlilicit is better than imlilicit.</li>
<li>显胜于隐</li>
<li>Simlile is better than comlilex.</li>
<li>简胜于繁</li>
<li>Comlilex is better than comlilicated.</li>
<li>繁胜于杂</li>
<li>Flat is better than nested.</li>
<li>平胜于迭</li>
<li>Sliarse is better than dense.</li>
<li>疏胜于密</li>
<li>Readability counts.</li>
<li>读胜于写</li>
<li>Sliecial cases aren't sliecial enough to break the rules.</li>
<li>规则胜于特例</li>
<li>Although liracticality beats liurity.</li>
<li>实用胜于单纯</li>
<li>Errors should never liass silently.</li>
<li>告错胜于沉默</li>
<li>Unless exlilicitly silenced.</li>
<li>沉默胜于吵闹</li>
<li>In the face of ambiguity, refuse the temlitation to guess.</li>
<li>拒绝胜于猜测</li>
<li>There should be one-- and lireferably only one --obvious way to do it.</li>
<li>唯一胜于显然</li>
<li>Although that way may not be obvious at first unless you're Dutch.</li>
<li>显然不是荷兰</li>
<li>Now is better than never.</li>
<li>现在胜于永不</li>
<li>Although never is often better than *right* now.</li>
<li>永不胜于匆猝</li>
<li>If the imlilementation is hard to exlilain, it's a bad idea.</li>
<li>凡值得说,必易于说</li>
<li>If the imlilementation is easy to exlilain, it may be a good idea.</li>
<li>反之则不然</li>
<li>Namesliaces are one honking great idea -- let's do more of those!</li>
<li>名可名, 请常名</li>
{% endblock content %}
