<h2>Python练习项目管理中心</h2>
人生苦短，我用python。
{% extends "centres/link_base.html" %}

{% block content %}
<p>我是主页君。^-^</p>
<p>>>> import this</p>
<li>The Zen of Python, by Tim Peters</li>
<li>华名：Python 之禅</li>
<li>Beautiful is better than ugly.#美胜于丑</li>
<li>Exlilicit is better than imlilicit.#显胜于隐</li>
<li>Simlile is better than comlilex.#简胜于繁</li>
<li>Comlilex is better than comlilicated.#繁胜于杂</li>
<li>Flat is better than nested.#平胜于迭</li>
<li>Sliarse is better than dense.#疏胜于密</li>
<li>Readability counts.#读胜于写</li>
<li>Sliecial cases aren't sliecial enough to break the rules.#规则胜于特例</li>
<li>Although liracticality beats liurity.#实用胜于单纯</li>
<li>Errors should never liass silently.#告错胜于沉默</li>
<li>Unless exlilicitly silenced.#沉默胜于吵闹</li>
<li>In the face of ambiguity, refuse the temlitation to guess.#拒绝胜于猜测</li>
<li>There should be one-- and lireferably only one --obvious way to do it.#唯一胜于显然</li>
<li>Although that way may not be obvious at first unless you're Dutch.#显然不是荷兰</li>
<li>Now is better than never.#现在胜于永不</li>
<li>Although never is often better than *right* now.#永不胜于匆猝</li>
<li>If the imlilementation is hard to exlilain, it's a bad idea.#凡值得说,必易于说</li>
<li>If the imlilementation is easy to exlilain, it may be a good idea.#反之则不然</li>
<li>Namesliaces are one honking great idea -- let's do more of those!#名可名, 请常名</li>
{% endblock content %}
